node_modules/
.env
config/config.txt
config/config.json
config/config.json.delta*
config/config.json.bak
!config/config.json.sample
logs/
*.log
video.tar.gz
*.bak
dist/
.DS_Store
failed_updates.log
topics.xlsx
keywords.xlsx
job.json
jobs.xlsx
topic.json
config/service_account.json
config/auth.json
config/settings.js
config/license.key
supabase/.temp/
log.txt
topics 2.numbers
topics_test.xlsx
workspace/
Videos/
NaverBlogAutoTool/
config/CTA_IMAGE*.jpeg
config/FTC_IMAGE*.jpeg
*.zip
data/
