const path = require('path');

// 🔥 [Setup] 본인의 정보로 변경하세요.


const NAVER_ID = 'YOUR_NAVER_ID_HERE'; 
const LICENSE_KEY = 'YOUR_LICENSE_KEY';
const GEMINI_API_KEY = 'YOUR_GEMINI_API_KEY_HERE'; 
const HEADLESS = false;
const BROWSER_CHANNEL = 'chrome';

// 'chrome': Chrome (Recommendation)
// 'msedge': Microsoft Edge
// '': auto detect 


module.exports = {
    AUTH_FILE_PATH: path.join(__dirname, 'naver_auth.json'),
    WORKSPACE_DIR: path.join(__dirname, '../workspace'),
    PROMPT_FILE: path.join(__dirname, 'blog_prompt.md'),
    
    NAVER_ID: NAVER_ID,
    WRITE_URL: `https://blog.naver.com/${NAVER_ID}/postwrite`,
    
    GEMINI_API_KEY: GEMINI_API_KEY, 
    
    HEADLESS: HEADLESS, 

    API_CALL_INTERVAL: 5000,
    TYPING: { MIN: 10, MAX: 100 },
    WAIT: { LOAD: 3000, UPLOAD: 2000, SHORT: 100 },

    // [Batch Option]
    // 배치 작업 사이의 휴식 시간 (단위: 초 / Seconds)
    // 예: 60 = 1분, 300 = 5분
    BATCH_INTERVAL_SECONDS: 20,

    LICENSE_KEY: LICENSE_KEY,

    LOG_LEVEL: 'info',

    BROWSER_CHANNEL: BROWSER_CHANNEL,
};
