# Local Trends Collector configuration
TRENDS_ENV=local

TRENDS_NAVER_ID=
TRENDS_AUTH_FILE_PATH=./config/naver_auth.json

TRENDS_API_BASE_URL=http://127.0.0.1:4581
TRENDS_API_TARGET_ENV=local
TRENDS_API_TOKEN=
TRENDS_HEADLESS=true
